#my-portrait {
    width: 200px;
}

div {
  background-color: lightgrey;
  width: 300px;
  border: 5px dashed violet;
  padding: 50px;
  margin: 20px;
}
p {font-family: Copperplate,cursive, fantasy;
color: white;
font-size: 110%}
body {
  background-color: pink;
}
h1 {
  color: white;
  font-family: fantasy;
  font-size: 300%;
